# Disable Directory Browsing
Options All -Indexes
errorDocument 400 http://deals.ma:8080/deals/error.html
errorDocument 401 http://deals.ma:8080/deals/error.html
errorDocument 404 http://deals.ma:8080/deals/error.html
errorDocument 500 http://deals.ma:8080/deals/error.html

#Friendly URL
RewriteEngine on
RewriteRule ^([a-zA-Z0-9_-]+)$  deal.php?id=$1
RewriteRule ^([a-zA-Z0-9_-]+)$  deal.php?id=$1
