/* --------------------------------------------------------------
   Reset
-------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; background: #fff; margin: 1.5em 0; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
input,textarea { margin: 0; }

/* Removes Firefox imposed outline */
a { outline: none; }

/* Clearing floats without extra markup - give the parent container the group class */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* IE6 */
* html .group { height: 1%; }

/*IE7 */
.group { min-height: 1px; }

/* -------------------------------------------------------------- 
   Typography
-------------------------------------------------------------- */

body { font-size: 75%; }


/* Default fonts and colors. */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea { font-family: Helvetica, Arial, sans-serif; }


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: bold; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; margin-bottom: 1.5em; }
h6 { font-size: 1em; }


/* Text elements
-------------------------------------------------------------- */

p { margin: 0 0 1.5em; }

ul, ol { margin: 0 1.5em 1.5em 1.5em; }
ul { list-style-type: circle; }
ol { list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dl dd { margin-left: 1.5em; }

abbr, acronym { border-bottom: 1px dotted #000; }
address { margin-top: 1.5em; font-style: italic; }
del { color: #000; }

a { color: #338dd2; text-decoration: none; }
a:visited { color: rgba(44, 87, 121, 1); }
a:hover { text-decoration: underline; }
a:focus { outline: 1px dotted #338DD2 }

blockquote { margin: 1.5em; }
strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
pre, code { margin: 1.5em 0; white-space: pre; }
pre, code, tt { font: 1em monospace; line-height: 1.5; } 
tt { display: block; margin: 1.5em 0; line-height: 1.5; }
span.amp { /* For better-looking ampersands */
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}

/* Additions */

.ie6 legend, .ie7 legend { margin-left: -7px; }

input[type="radio"] { vertical-align: text-bottom; }
.input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

button, input, select, textarea { margin: 0; }

button { width: auto; overflow: visible; }

.ie7 img { -ms-interpolation-mode: bicubic; }

a.f-button {
background: #3b88d8;
background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
border-top: 1px solid #4081af;
border-right: 1px solid #2e69a3;
border-bottom: 1px solid #20559a;
border-left: 1px solid #2e69a3;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
border-radius: 16px;
-moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
-webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
color: #fff;
font-family: "lucida grande", sans-serif;
font-size: 11px;
font-weight: normal;
line-height: 1;
padding: 3px 8px;
text-align: center;
text-shadow: 0 -1px 1px #3275bc;
width: 112px;
-webkit-background-clip: padding-box;
}

a.f-button:hover {
background: #2a81d7;
background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
border-top: 1px solid #2a73a6;
border-right: 1px solid #165899;
border-bottom: 1px solid #07428f;
border-left: 1px solid #165899;
-moz-box-shadow: inset 0 1px 0 0 #62b1e9;
-webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
cursor: pointer;
text-shadow: 0 -1px 1px #1d62ab;
-webkit-background-clip: padding-box;
text-decoration: none;
}

a.f-button:active {
background: #3282d3;
border: 1px solid #154c8c;
border-bottom: 1px solid #0e408e;
-moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
text-shadow: 0 -1px 1px #2361a4;
-webkit-background-clip: padding-box;
}

#m-carousel .f-button {
position: absolute;
top: 108px;
left: 348px;
width: 60px;
}

/**
* Primary styles
*
* Author: Erik Sagen, Brett Terpstra
*/

body {
background: #eff0f2;
margin: 0;
padding: 0;
}

#hat {
background: #7FAACC; /* old browsers */
background: -moz-linear-gradient(top, #7FAACC 0%, #709BBD 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7FAACC), color-stop(100%,#709BBD)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7FAACC', endColorstr='#709BBD',GradientType=0 ); /* ie */
border-bottom: 2px solid #d0d1d3;
width: 100%;
height: 30px;
position: relative;
}

#hat .inner {
float:left;
position:relative;
left:50%;
margin-left:-500px;
}

#gh-hat .cobrand {
position:absolute;
border: none !important;
top:-1px; 
right:0;
display:block;
height: 28px;
width:101px;
background: url(http://www.blogsmithmedia.com/www.tuaw.com/media/cobrand-tech.png) no-repeat 0 6px !important;
z-index: 2;
text-indent: -9000px;
}

#gh-hat {
color: #d9e5ef;
float: left;
font-size: 11px;
margin-top: 7px;
list-style: none;
width: 970px;
}

#gh-hat li {
display: inline;
font-weight: bold;
text-shadow: 1px 1px 1px #678daa;
}

#gh-hat li a {
color: #fff;
}

#gh-hat .more-box {
border: 1px solid #76a1c3;
border-top: none;
position: absolute;
background: #fff;
background: rgba(255,255,255,0.9);
width: 360px;
z-index: 2000;
margin: 2px 0 0 345px;
-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

#gh-hat .more-box .inner {
margin: 1.5em;
position:relative;
left:0;
}

#gh-hat .more-box ul {
float: left;
margin: 0 13px 0 0;
padding: 0;
width: 100px;
}

#gh-hat .more-box ul li {
display: block;
}

#gh-hat .more-box ul li a {
color: #999;
display: block;
font-weight: normal;
text-shadow: none;
padding: 2px 3px;
margin-bottom: 2px;
}

#gh-hat .more-box p {
border-bottom: 1px solid #eee;
color: #555;
margin: 0 0 .8em 0;
padding-bottom: .8em;
text-shadow: none;
}

#gh-hat .more-box .last {
margin: 0;
padding: 0;
}

/* Ads */

.leader {
margin: 1em auto 1em auto;
width: 970px;
height: auto;
text-align: center;
}

#sub-content .medrec {
background:url(http://www.blogsmithmedia.com/www.tuaw.com/media/advertisement.gif) bottom right no-repeat;
width: 300px;
padding-bottom: .5em;
margin-bottom: 1em;
}

#ads125 {
border: 1px solid #ddd;
background:url(http://www.blogsmithmedia.com/www.tuaw.com/media/advertisement.gif) 15px 311px no-repeat;
padding: 1.4em 0 1em 0;
margin-bottom: 1em;
}

#ads125 img {
display: block;
float: left;
margin: 0 0 15px 15px;
}

#ads125 .getasquare {
display: block;
float: right;
font-size: .8em;
margin-right: 12px;
padding: .3em .5em;
position: relative;
text-decoration: none;
}

#ads125 .getasquare:hover {
text-decoration: underline;
}

#ads125 div, .square-ads div {
float:left;
margin:0 0 13px 16px;
}

.tower-ad {
width: 160px;
height: 600px;
margin: 0 auto 1em auto;
}

#pageflip {
position: relative;
}

#pageflip img {
width: 50px; height: 52px;
z-index: 99;
position: absolute;
right: 0; top: 30px;
-ms-interpolation-mode: bicubic;
}

#pageflip .msg_block {
width: 50px; height: 50px;
position: absolute;
z-index: 50;
right: 0; top: 30px;
background: url(http://www.blogsmithmedia.com/www.tuaw.com/media/dogear-promo.png) no-repeat right top;
text-indent: -9999px;
}

#frame {
background: #e3e4e6;
border-radius: 1px;
width: 1012px;
margin: 0 auto;
padding: 5px 0;
}

#container {
background: #fff;
border: 1px solid #d4d5d7;
width: 999px;
margin: 0 auto;
}

#header {
width: 100%;
height: 103px;
background: #F7F8FA; /* old browsers */
background: -moz-linear-gradient(top, #F7F8FA 0%, #F6F7F9 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F8FA), color-stop(100%,#F6F7F9)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F8FA', endColorstr='#F6F7F9',GradientType=0 ); /* ie */
margin-top: 1px;
}

#header .logo {
background: url(http://www.blogsmithmedia.com/www.tuaw.com/media/logo-1b.png) no-repeat;
display: block;
float: left;
text-indent: -999em;
width: 104px;
height: 72px;
margin-top: 17px;
margin-left: 24px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
		#header .logo {background-image:url(http://www.blogsmithmedia.com/www.tuaw.com/media/logo@2x.png); background-size: 104px 72px; }
}

#search-form label, #sailthru-signup label {
display: none;
}

#search-form .query {
background: #fff url(http://www.blogsmithmedia.com/www.tuaw.com/media/icon-search.png) 13px no-repeat;
border: 1px solid #cdd2d6;
border-bottom-color: #ddd;
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
color: #8a9aa8;
float: right;
font-size: 15px;
padding: 8px 8px 8px 37px;
width: 255px;
margin: 34px 1.1em;
outline: none;
-webkit-box-shadow: 0px 0px 2px #e1e1e1;
-moz-box-shadow: 0px 0px 2px #e1e1e1;
-webkit-transition: .3s;
-moz-transition: .3s;
}

#search-form .query:focus {
-webkit-box-shadow: 0px 0px 9px #338dd2;
-moz-box-shadow: 0px 0px 9px #338dd2;
}

#search-button {
display: none;
}

#nav {
background: #F8F7FB; /* old browsers */
background: -moz-linear-gradient(top, #F8F7FB 0%, #E5E4E8 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F7FB), color-stop(100%,#E5E4E8)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F7FB', endColorstr='#E5E4E8',GradientType=0 ); /* ie */
border-top: 1px solid #ededed;
border-bottom: 1px solid #ccc;
width: 100%;
height: 30px;
}

#nav ul {
border-top: 1px solid #fff;
margin: 0;
padding: 0;
}

#nav ul li {
list-style: none;
}

.ie6 #nav ul li, .ie7 #nav ul li { display: inline; }

#nav ul li a {
border-right: 1px solid #d6dbdf;
color: #666;
display: block;
font: bold 11px/1.2em "Lucida Grande", sans-serif;
float: left;
text-shadow: 1px 1px #fff;
padding: 8px 23px;
height: 13px;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}

#nav ul li a:hover {
  background: #E5E4E8; /* old browsers */
  background: -moz-linear-gradient(top, #E5E4E8 0%, #F8F7FB 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5E4E8), color-stop(100%,#F8F7FB)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E5E4E8', endColorstr='#F8F7FB',GradientType=0 ); /* ie */
  color: #3e5669;
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 6px #dddddd inset;
  -moz-box-shadow: 0px 2px 6px #dddddd inset;
  box-shadow: 0px 2px 6px #dddddd inset;
}

#nav .social {
float: right;
margin-top: 6px;
margin-right: 19px;
}

#nav .social img {
opacity: .9;
}

#nav .social img:hover {
opacity: 1;
}

#nav .tools .tipus {
background: #d74f36;
border: 1px solid #c74128;
float: right;
margin: 6px 6px 0 0;
padding: 0 .6em;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: inset 0 1px 0 0 #e48978;
-webkit-box-shadow: inset 0 1px 0 0 #e48978;
color: #fff;
font-size: 10px;
font-weight: bold;
text-transform: uppercase;
}

#nav .tools .tipus:hover {
background: #d74f36;
border: 1px solid #bc3b23;
-moz-box-shadow: inset 0 1px 0 0 #e48978;
-webkit-box-shadow: inset 0 1px 0 0 #e48978;
cursor: pointer;
text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
-webkit-background-clip: padding-box;
text-decoration: none;
}

#hot-topics {
border-top: 1px solid #fff;
background: #f9f9f9;
border-bottom: 1px solid #eee;
color: #444;
font-size: 11px;
margin: 0;
padding: 1em 1.8em 1em 2em;
list-style: none;
overflow: hidden;
}

#hot-topics li {
float: left;
}

#hot-topics li strong {
color: #555;
display: block;
margin-right: 1em;
padding-top: .3em;
text-transform: uppercase;
text-shadow: 1px 1px #fff;
}

#hot-topics li a {
background: #fff;
border-radius: 5px;
border-bottom: 1px solid #ddd;
padding: .2em .7em;
display: block;
margin-right: .5em;
text-decoration: none;
-moz-transition: all 0.1s ease-out 0s;
}

#hot-topics li a:hover {
background: #338dd2;
border-bottom: none;
color: #fff;
}

#content {
background: transparent;
width: 960px;
margin: 19px auto;
}

#main-content {
float: left;
width: 641px;
overflow-x: hidden;
overflow-y: hidden;
}

#main-content p {
color: #444;
font-size: 14px;
}

#main-content del {
color: #bababa;
}

#cycle {
width:638px !important;
height:154px !important;
position: relative;
top:-20px;
}

/* Article/Post */

#post {
padding-top: .5em;
}

#post .body img {
max-width: 100%;
height: auto;
}

#post .body tt, #post .body pre, #post .body code { 
white-space: pre;           /* CSS 2.0 */
white-space: pre-wrap;      /* CSS 2.1 */
white-space: pre-line;      /* CSS 3.0 */
white-space: -pre-wrap;     /* Opera 4-6 */
white-space: -o-pre-wrap;   /* Opera 7 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -hp-pre-wrap;  /* HP Printers */
word-wrap: break-word;      /* IE 5+ */
}

/* #post .body embed, #post .body object, #post .body iframe {
width: 100%;
} */

#main-content h1, #post h1 {
color: #273b4a;
font: 30px/1.1 "Myriad Pro", sans-serif;
letter-spacing: -1px;
}

#post .byline span.author {
font-weight: bold;
float: left;
}

#post .byline span.timestamp {
float: right;
}

#post .body {
color: #333;
float: right;
width: 475px;
font-size:14px
}

#post .body h3, .post .body h4 {
color: #273b4a;
}

#post .body blockquote {
border-left: 3px solid #999;
padding-left: 1em;
}

#post .body blockquote p {
font-size: 14px;
}

#post .note {
color: #84919b;
font-style: italic;
}

#post .view-tags {
font-size: 11px;
font-weight: bold;
margin: 2em 0 1em 0;
text-transform: uppercase;
}

#post .view-tags a.trigger {
background: url(http://www.blogsmithmedia.com/www.tuaw.com/media/icon-drparw-bl.png) center right no-repeat;
color: #84919b;
padding-right: 11px;
}

#post .view-tags p {
margin-top: .5em;
}

#post .view-tags p a {
background: #d2e7f8;
border-bottom: 1px solid #a9c1d5; 
color: #467fab;
display: inline-block;
font-size: 11px;
font-weight: normal;
padding: .2em .5em .2em .4em;
text-transform: none;
border-radius: 5px;
-moz-border-radius: 5px;
margin-bottom: .3em;
line-height: 1.2;
}

#main-content #post .source p {
font-size: 11px;
}

#post .source strong {
color: #84919b;
text-transform: uppercase;
}

#post .paginate {
list-style: none;
margin: 3em 0 3em 0;
padding: 0;
}

#post .paginate .prev a {
background: url(http://www.blogsmithmedia.com/www.tuaw.com/media/icon-lt-arw.png) center left no-repeat;
display: block;
float: left;
font-size: 13px;
width: 190px;
line-height: 1.1;
padding-left: 25px;
}

#post .paginate .next a {
background: url(http://www.blogsmithmedia.com/www.tuaw.com/media/icon-rt-arw.png) center right no-repeat;
display: block;
float: right;
font-size: 13px;
width: 190px;
line-height: 1.1;
padding-right: 25px;
}

#post ul, #post ol {
/* font-size: 13px; */
}

#post ul li, #post ol li {
color: #555;
margin-bottom: 1em;
}

/* MICROPOSTS - microformat post listing */

#micro-posts .m-post {
border-bottom: 1px solid #eee;
margin-bottom: 1.2em;
position: relative;
}

#micro-posts .m-post img {
float: left;
width: 229px;
margin: 0 24px 17px 0;
}

#micro-posts .m-post .body {
float: left;
width: 380px;
}

#micro-posts .m-post h2 {
color: #273b4a;
font: 21px/1.1 "Myriad Pro", sans-serif;
margin: 0;
padding: 0;
}

#micro-posts .m-post h2 a {
color: #333;
}

#micro-posts .m-post p {
font-size: 13px;
margin: 7px 0;
color: #586874;
line-height: 1.4;
}

#micro-posts .m-post .comment-count {
position: absolute;
bottom: 0;
right: 0;
}

#micro-posts .m-post p.continue-reading a {
font-weight: bold;
}

#main-content #micro-posts .m-post p.byline {
color: #aaa;
font: 14px/1 "Myriad Pro", sans-serif;
}

#micro-posts p.comment-count a {
width: 70px;
background: #3b88d8;
background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
border-top: 1px solid #4081af;
border-right: 1px solid #2e69a3;
border-bottom: 1px solid #20559a;
border-left: 1px solid #2e69a3;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
border-radius: 16px;
-moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
-webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
color: #fff;
clear: both;
display: block;
font-family: "lucida grande", sans-serif;
font-size: 11px;
font-weight: normal;
line-height: 1;
padding: 4px 8px;
text-align: center;
text-shadow: 0 -1px 1px #3275bc;
-webkit-background-clip: padding-box;
margin-top: 8px;
}

#micro-posts p.comment-count a:hover {
background: #2a81d7;
background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
border-top: 1px solid #2a73a6;
border-right: 1px solid #165899;
border-bottom: 1px solid #07428f;
border-left: 1px solid #165899;
-moz-box-shadow: inset 0 1px 0 0 #62b1e9;
-webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
cursor: pointer;
text-shadow: 0 -1px 1px #1d62ab;
-webkit-background-clip: padding-box;
text-decoration: none;
}

/* Meta Bar */

#meta-bar {
border: 1px solid #ddd;
border-top: none;
color: #273b4a;
width: 145px;
margin: .5em 0 2em 0;
position: relative;
}

#meta-bar h2 {
background: #F8F7FB; /* old browsers */
background: -moz-linear-gradient(top, #F8F7FB 0%, #E5E4E8 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F7FB), color-stop(100%,#E5E4E8)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F7FB', endColorstr='#E5E4E8',GradientType=0 ); /* ie */
border: 1px solid #d6dbdf;
border-right: none;
border-left: none;
color: #627380;
font: bold 11px/1.1 Arial, sans-serif;
text-shadow: 1px 1px #fff;
text-transform: uppercase;
margin: 0;
padding: .5em .9em;
}

#meta-bar ul {
list-style: none;
margin: 0;
padding: 0;
}

#meta-bar ul li {
background: #fff;
border-bottom: 1px solid #eee;
font-size: 11px;
line-height: 1.3;
padding: 0 .5em;
}

#meta-bar ul li:last-child {
border: none;
}

#meta-bar ul li a {
display: block;
padding: .7em .4em;
}

#meta-bar .price p {
font-weight: bold;
margin: 1.2em .9em;
}

#meta-bar .rating img {
display: block;
margin: 1.2em .9em;
}

#meta-bar .cats p {
color: #ccc;
font-size: 10px;
margin: 1.2em .9em;
}

#meta-bar .cats p a {
display: inline-block;
background: #d2e7f8;
border-bottom: 1px solid #a9c1d5;
padding: .3em .5em .3em .5em;
border-radius: 5px;
-moz-border-radius: 5px;
margin-bottom: .3em;
line-height: 1.2;
}

#meta-bar .social img {
display: block;
margin: 1.2em;
}

#meta-bar blockquote {
border-left: 5px solid #eee;
position: absolute;
color: #888;
font: 18px/1.2 "Myriad Pro", sans-serif;
margin: 0;
padding: 0 0 0 15px;
top: 1em;
width: 125px;
overflow: hidden;
}

#author-box {
border-top: 3px solid #e1e1e1;
clear: both;
font-size: 11px;
margin-bottom: 3em;
}

#author-box h3 {
color: #627380;
font: bold 11px/1.1 Arial, sans-serif;
text-transform: uppercase;
}

#author-box .pod {
float: left;
width: 310px;
margin-top: 1.5em;
}

#author-box .bio {
color: #657887;
margin-right: 20px;
}

#author-box .bio img {
display: block;
float: left;
width: 80px;
height: 80px;
margin: 0 1em .2em 0;
}

#author-box .recent ul {
list-style: none;
margin: 0;
padding: 0;
}

#author-box .recent ul li {
border-bottom: 1px solid #eee;
padding: .3em 0;
line-height: 1.3;
}

#aol-comments > h4 { /* Overide for darkline on comments header */
border-top: 3px solid #ebebeb;
color: #273b4a;
font: normal 20px "Myriad Pro"!important;
padding-top: .5em!important;
}

#aol-comments .mini-profile {
border-top: none!important;
}

#sub-content {
background: transparent;
float: right;
width: 300px;
margin-bottom: 2.5em;
}

.r-mod {
background: #f9f9f9;
border: 1px solid #dbdbdb;
width: 298px;
margin-bottom: 1em;
}

.r-mod * {
margin: 0;
padding: 0;
}

.r-mod .header {
background: #F8F7FB; /* old browsers */
background: -moz-linear-gradient(top, #F8F7FB 0%, #E5E4E8 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F7FB), color-stop(100%,#E5E4E8)); /* webkit */
border-bottom: 1px solid #d6dbdf;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F7FB', endColorstr='#E5E4E8',GradientType=0 ); /* ie */
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
margin-top: 1px;
}

.r-mod .header h3 {
color: #6c6c74;
float: left;
font: bold 13px/1.1 "Myriad Pro", sans-serif;
text-transform: uppercase;
margin: 0;
padding: .7em 1em;
text-shadow: 1px 1px #fff;
-webkit-text-shadow: 1px 1px #fff;
-moz-text-shadow: 1px 1px #fff;
}

.r-mod .all {
background: #fff;
border: 1px solid #ddd;
border-bottom-color: #ccc;
color: #888;
float: right;
font-size: 9px;
font-weight: bold;
text-transform: uppercase;
margin: .6em .5em 0 1em;
padding: .5em 1em;
border-radius: 5px;
line-height: 1;
}

.r-mod .all:hover {
border: 1px solid #ccc;
color: #666;
cursor: pointer;
text-decoration: none;
}

#sub-content .r-mod .inner {
font-size: 11px;
width: 268px!important;
margin: 17px auto;
}

.r-mod p {
color: #666;
}

.r-mod dl {
margin: 0;
padding: 0;
}

.r-mod dl dt {
margin: 0;
padding-top: .7em;
}

.r-mod dl .first {
padding-top: 0;
}

.r-mod dl dt a.imp {
color: #d94311;
}

.r-mod dl dd {
color: #909090;
margin: 0;
padding: 0 0 .9em 0;
background: url(http://www.blogsmithmedia.com/www.tuaw.com/media/div-line.png) bottom repeat-x;
}

.r-mod dl dd:last-of-type {
background: none;
}

.r-mod .inner ul {
margin: 0;
padding: 0;
list-style: none;
}

.r-mod .inner ul li {
background: url(http://www.blogsmithmedia.com/www.tuaw.com/media/div-line.png) bottom repeat-x;
}

.r-mod .inner ul li:last-of-type {
background: none;
}

.r-mod .inner ul li a {
display: block;
padding: .5em 0;
}

/* Software Updates */

#soft-updates ul li a {
font-weight: bold;
}

/* Tip of the Day (mod) */

#tip-of-day p {
color: #666;
font-size: 11px;
margin: 0;
padding: 0;
}

/* Newsletter (mod) */

#sailthru-form * {
margin: 0;
}

#sailthru-form input#st-email {
height: 20px;
}

/* Featured Stories (mod) */

#featured-stories .item {
background: url(http://www.blogsmithmedia.com/www.tuaw.com/media/div-line.png) bottom repeat-x;
margin: 1em 0;
padding: 1em 0;
}


#featured-stories .item:last-of-type {
background: none;
margin: 0;
padding-bottom: 0;
}

#featured-stories .first {
padding-top: 0;
}

#featured-stories img {
border: 1px solid #babcbc;
clear: both;
display: block;
float: left;
width: 93px;
height: 75px;
margin-right: 1em;
}

#featured-stories p {
font-size: 14px;
line-height: 1.4;
}

/* Tweets (mod) */

#authortweets,#tweets {
color: #909090;
}

#authortweets .item, #tweets .item {
background: transparent url(http://www.blogsmithmedia.com/www.tuaw.com/media/div-line.png) bottom left repeat-x;
padding: 1em 1.2em;
}

#authortweets .item:last-child, #tweets .item:last-child {
background: none;
}

#authortweets .item img,#tweets .item img {
border: 1px solid #ddd;
display:block;
float:left;
width:48px;
height:48px;
margin-bottom: 0.1em;
margin-right:1em;
}

#authortweets p, #tweets p {
font-size: 11px;
text-shadow: 1px 1px #fff;
}

#authortweets .item p,#tweets .item p {
float:left;
width:200px;
}

#authortweets .item .name, #tweets .item .name {
color: #646464;
font-weight: bold;
}

/* Article/Post */

#post .byline {
border-bottom: 5px solid #f3f3f3;
color: #3b4953;
font: 14px/1 Arial, sans-serif;
padding-bottom: 1em;
}

#post .byline .timestamp {
color: #999;
}

/* added by Brett to appease Ged */
#post .header {
float: right;
width: 475px;
}

#post .byline span.author {
float: left;
}

#post .byline span.timestamp {
float: right;
}

/* Post Gallery */

.postgallery {
border: 1px solid #eee;
border-bottom-color: #ddd;
margin: .5em 0;
overflow: hidden;
padding: 0;
_height: 1%;
text-align: left;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.postgallery h3 {
background: #F8F7FB; /* old browsers */
background: -moz-linear-gradient(top, #F8F7FB 0%, #E5E4E8 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F7FB), color-stop(100%,#E5E4E8)); /* webkit */
border-bottom: 1px solid #ddd;
font-size: 14px;
font-weight: normal;
margin: 0 0 1em 0;
padding: .5em 1em;
}

.postgallery h3 a {
color: #777;
font-size: 13px;
font-weight: bold;
}

.postgallery ul {
margin: 0 0 0 1em;
padding: 0;
list-style: none;
}

.postgallery ul li {
margin: 0 9px 0 0;
display: block;
float: left;
}

.postgallery ul li img {
background: #eee;
border: 1px solid #ddd;
padding: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
width: 70px;
}

.postgallery ul li img:hover {
background: #ddd;
} 

/* Results */

#main-content .results {
position: relative;
}

#main-content .results .header {
border-bottom: 3px solid #f3f3f3;
margin-bottom: 1.5em;
}

#main-content .results h1 {
color: #3b4953;
font: 28px/1.1 "Myriad Pro", sans-serif;
width: 440px;
}

#main-content .results p {
color: #555;
}

#main-content .results .sort {
list-style: none;
margin: 0;
padding: 0;
position: absolute;
top: 3px;
right: 0;
width: 194px;
}

#main-content .results .sort li a {
border: 1px solid #ddd;
color: #999;
float: left;
font-size: 11px;
margin: 0;
padding: .3em .6em;
border-radius: 5px;
line-height: 1.1;
}

#main-content .results .sort a:hover {
background: #f8f8f8;
border: 1px solid #ccc;
color: #777;
text-decoration: none;
}

/* Contact Form / Tip Us */

#main-content #incontent p {
border-bottom: 1px solid #eee;
color: #333;
font-size: 1.1em;
margin-top: 13px;
padding-bottom: .5em;
}

#main-content #incontent .formlabel {
color:  #777;
clear: both;
font-weight: bold;
}

#main-content #incontent form input, #main-content #incontent form textarea {
border: 1px solid #ddd;
border-top-color: #ccc;
border-left-color: #ccc;
font-size: 1.2em;
margin: .5em 0 1.5em 0;
padding: .3em;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}

#main-content #incontent form input.none {
margin: 0;
}

#main-content #incontent form input:hover {
border: 1px solid #ccc;
}

#main-content #incontent form textarea {
padding: 3px;
line-height: 1.5;
}

#main-content #incontent form .formerrors {
color: red;
font-weight: bold;
margin: 0 0 1.5em 0;
}

#tipus_overlay {position:fixed;left:0;top:0;right:0;bottom:0;background-color:rgba(0,0,0,.5);display:none}

.tipus_popup {
background-color:#fff;
padding:1.3em;
position:fixed;
top:20px;
width:500px;
left:50%;
margin-left:-270px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
z-index: 99999;
}

.tipus_content * {
margin: 0;
padding: 0;
}

.tipus_content {
overflow: hidden;
}

.tipus_content .header {
float: left;
width: 175px;
}

.tipus_content .header h2 {
font: 25px/1.1 "Myriad Pro", sans-serif;
margin-bottom: .3em;
}

.tipus_content .header p {
color: #777;
font-size: 11px;
margin-bottom: 1em;
}

.tipus_content .body {
float: right;
width: 300px;
}

.tipus_content label {
display: block;
font:14px/23px Arial;
color:#999;
margin-bottom:0;
clear:left;
}

.tipus_content input, .tipus_content textarea {
border: 1px solid #ddd;
border-top-color: #ccc;
border-left-color: #ccc;
color: #8a9aa8;
font-size: 15px;
margin: .2em 0;
padding: .3em;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
width: 270px;
}

.tipus_content textarea {
height: 200px;
}

.tipus_content span {
font-weight: bold;
}

.tipus_content label {
color:  #777;
clear: both;
font-size: 12px;
}



/* Tables */

table{
	margin-bottom:1.5em !important;
	width:100%;
	max-width:100%;
}
/*
thead tr:last-of-type th{
	border-bottom-width:2px;
}
tbody th{
	border-right-width:2px;
}
th:empty{
	border:none;
}
th,td{
	vertical-align:top;
	padding:0.75em;
	border:1px solid #ccc;
}
th{
	font-weight:bold;
	text-align:center
}
td[colspan]{
	text-align:center;
}
tbody tr:nth-of-type(odd){
	background:rgba(0,0,0,0.05);
}
tfoot{
	text-align:center;
}
tfoot td{
	border-top-width:2px;
}
*/

/* Carousel */

#carousel {
width: 626px;
height: 180px;
position: relative;
margin-bottom: 1.5em;
}

#carousel .slide {
float: left;
width: 190px;
margin-right: 21px;
}

#carousel .slide:hover img {
border: 1px solid #ccc;
opacity: 1;
}

#carousel .slide img {
border: 1px solid #ddd;
border-radius: 5px;
padding: 3px;
width: 190px;
opacity: 0.9;
-moz-transition: all 0.3s ease-out 0s;
-webkit-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
}

#carousel .slide * {
margin: 0;
padding: 0;
}

#carousel .slide:last-child, #carousel .last {
margin-right: 0;
}

#carousel .slide h3 a {
color: #444;
display: block;
font-weight: normal;
font: 15px/1.1 Myriad Pro, sans-serif;
}

#carousel .slide span a {
color: #999;
font-size: 11px;
text-transform: uppercase;
}

#carousel .arw {
width: 23px;
height: 23px;
text-indent: -9999px;
border-radius: 23px;
}

#carousel .prev {
position: absolute;
top: 47px;
left: 10px;
z-index: 99;
}

#carousel .prev.arw {
background: #308fd4 url(http://www.blogsmithmedia.com/www.tuaw.com/media/car-lft-arw.png) center no-repeat;
}

#carousel .next {
position: absolute;
top: 47px;
right: 10px;
z-index: 99;
}

#carousel .next.arw {
background: #308fd4 url(http://www.blogsmithmedia.com/www.tuaw.com/media/car-rt-arw.png) center no-repeat;
}

#m-carousel {
  position:relative;
}
#m-carousel img {
float:left;
}
#m-carousel h4 {
  font-family:"Myriad Pro", sans-serif;
  font-weight:normal;
  font-size:21px;
  display:block;
  width:250px;
  float:left;
  margin:20px 0 10px 20px;
}

#m-carousel h4 a { color: #333; }
a.read-more {
background: #d0e3ed;
border-right: 1px solid #a3c6dc;
border-bottom: 1px solid #a3c6dc;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
color: #355165;
font-size: 11px;
font-weight: bold;
text-shadow: #fff 1px 1px 1px;
padding: .3em .8em;
}
a.read-more:hover {
background: #c1d8e4;
text-decoration: none;
}
#m-carousel a.read-more {
  display:block;
  float:left;
  margin-left:20px;
  line-height: 1.1;
}
#latest-news {
margin-top: 1.3em;
}

/* commented out because the headline cycler makes it obsolete
#latest-news li:nth-child(odd) {
background: #f9f9f9;
}
*/

#latest-news div {
  width:305px;
  margin-right:15px;
  float:left;
}
#dots {
  width:55px;
  position:absolute;
  right:6px;
  bottom:10px;
  z-index:1000;
}
#dots a {
  width:8px;
  height:8px;
  display:block;
  text-indent:-99999px;
  background:#4b7ca7;
  float:left;
  margin-right:5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  opacity:.5;
}
#dots a.activeSlide {
  opacity:1;
}

#latest-news h4 {
font-size:11px;
text-transform:uppercase;
color:#697c8b;
margin: 0;
line-height: 1.3;
}

#latest-news h4 .see-all {
background: #fff;
color: #999;
display: block;
float: right;
font-size: 9px;
font-weight: bold;
text-transform: uppercase;
margin: 0 0 0 1em;
border-radius: 5px;
}

#latest-news h4 .see-all:hover {
color: #666;
}

#latest-news ul {
  border-top:solid 1px #cedce7;
  list-style:none;
  margin: 3px 0 0 0;
  padding: 0;
}

#latest-news li {
border: none;
margin: 0;
padding: 0;
}

#latest-news li a {
  color:#338DD2;
  font-size:11px;
  display:block;
  padding:5px 0;
  line-height:1.3em;
  width:290px;
  font-weight:bold;
  height:28px;
}
#filter-bar {
  display:block;
  float:left;
  margin:1.5em 0 20px 0;
  width:630px;
  list-style:none;
  border: 1px solid #E3E2E2;
  background-color: #F9F9F9;
  background-image: -moz-linear-gradient(top, #F9F9F9, #EAE9E9);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F9F9F9),color-stop(1, #EAE9E9));
  background-image: -webkit-linear-gradient(#F9F9F9, #EAE9E9);
  background-image: linear-gradient(top, #F9F9F9, #EAE9E9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F9F9F9', EndColorStr='#EAE9E9');  
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
-moz-box-shadow: inset 0 1px 0 0 #fff;
-webkit-box-shadow: inset 0 1px 0 0 #fff;
}
#filter-bar li {
float:left;
border-right: 1px solid #fff;
position: relative;
}
#filter-bar a {
  display:block;
  padding:5px 20px;
  font-weight:bold;
  color:#666;
  text-align: center;
  border-right:1px solid #E3E2E2;
  text-shadow: 1px 1px #fff;
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}

#filter-bar a.filter.seeall {
background: #fff;
border-left: 1px solid #ddd;
color: #3b88d8;
font-size: 11px;
position: absolute;
top: 0;
right: 0;
padding: 7px 6px 5px 6px;
}

#filter-bar .first a {
 -moz-border-radius-topleft:12px;
  -webkit-border-top-left-radius:12px;
  border-radius-topleft: 12px;
  -moz-border-radius-bottomleft:12px;
  -webkit-border-bottom-left-radius:12px;
  border-radius-bottomleft: 12px;
}
#filter-bar a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.51, #EAE9E9), color-stop(1.00, #F9F9F9));
  background: -moz-linear-gradient(top, #EAE9E9 50.71%, #F9F9F9 100.00%);
  text-decoration:none;
  -webkit-box-shadow: 0px 2px 6px #cccccc inset;
  -moz-box-shadow: 0px 2px 6px #666666 inset;
  box-shadow: 0px 2px 6px #666666 inset;
}
#filter-bar li.icon {
float:right;
border: none;
}
#filter-bar li.icon a {
  text-indent:-999994px;
  width:10px;
  border:none;
  padding:5px 9px;
  background-position:center center;
  background-repeat:no-repeat;
}
#filter-bar a.thumb-view {
  background-image:url(http://www.blogsmithmedia.com/www.tuaw.com/media/thumb-mode-icon.png);
  margin-right:10px;
}
#filter-bar a.list-view {
  background-image:url(http://www.blogsmithmedia.com/www.tuaw.com/media/list-mode-icon.png);
}
#river {
  width:630px;
  float:left;
}
#river .article {
  width:140px;
  font-size:11px;
  color:#333;
  float:left;
  margin-right:13px;
/*  background-color:transparent; */
  background: white;
position: relative;
}

#river .article .header {
height:auto;
margin-left: .5em;
}
#river .article img {
  padding:5px;
  border:solid 1px #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#river .byline {
color:#999;
}
#river .byline .author {
font-weight: bold;
float: left;
}
#river .byline .timestamp {
color: #ccc;
position: absolute;
bottom: 18px;
right: 5px;
}
#river .byline a {
  color:#5e5e5e;
}
#river .article h2 {
  font-family:"Myriad Pro", sans-serif;
  font-size:14px;
  font-weight:normal;
  line-height:1.1em;
}
#river.list .article {
position: relative;
}
#river.list .article h2 {
  font-size: 20px;
  height:auto;
  margin:.9em 0 .3em 0;
}
#river .article .body {
  display:none;
  overflow:hidden;
  position:relative;
}
#river.list .article .body {
  display:block;
  float:left;
  width: 460px;
  margin: 1em 0 0 .5em;
  padding: 0 0 .8em 0;
  height:auto;
}

#river .byline { display:none; }
#river.list .byline {display:block; font-size: 12px;}
#river .article:nth-of-type(4n+1) {
  clear:left;
}
#river .article .body p {
  color: #555;
  overflow:hidden;
  float:left;
  font-size: 13px;
line-height: 1.5;
}
#river.list .article .body p {
  float:left;
  margin-bottom: .7em;
}

#river.list p.comment-count a {
background: #3b88d8;
background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
border-top: 1px solid #4081af;
border-right: 1px solid #2e69a3;
border-bottom: 1px solid #20559a;
border-left: 1px solid #2e69a3;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
border-radius: 16px;
-moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
-webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
color: #fff;
clear: both;
display: block;
font-family: "lucida grande", sans-serif;
font-size: 11px;
font-weight: normal;
line-height: 1;
padding: 4px 8px;
text-align: center;
text-shadow: 0 -1px 1px #3275bc;
-webkit-background-clip: padding-box;
margin-top: 8px;
}

#river.list p.comment-count a:hover {
background: #2a81d7;
background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
border-top: 1px solid #2a73a6;
border-right: 1px solid #165899;
border-bottom: 1px solid #07428f;
border-left: 1px solid #165899;
-moz-box-shadow: inset 0 1px 0 0 #62b1e9;
-webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
cursor: pointer;
text-shadow: 0 -1px 1px #1d62ab;
-webkit-background-clip: padding-box;
text-decoration: none;
}

#river-nav {
  margin: 2em 0;
  float:left;
  width:100%;
}
#river-nav ul {
  margin:0;
  list-style:none;
}
#river-nav a {
  display:block;
  font-size:21px;
  font-weight:lighter;
  padding:5px;
}
#river-nav .prev a {
  float:right;
  font-size: 17px;
  padding-right:30px;
  background:transparent url(http://www.blogsmithmedia.com/www.tuaw.com/media/icon-rt-arw.png) no-repeat right center;
}
#river-nav .next a {
  float:left;
  font-size: 17px;
  padding-left:30px;
  background:transparent url(http://www.blogsmithmedia.com/www.tuaw.com/media/icon-lt-arw.png) no-repeat left center;
}
#river.list .article {
  width:100%;
  border-top:1px dotted #e2e9ef;
}
#river.list .header {
  float:left;
  width:420px;
}
#river.list img {
  float:left;
  margin-right:10px;
  margin-top:17px;
}
#river.list h2 {
  margin-bottom:0;
  width: 370px;
}
#river.list p.byline {
margin: 0;
}
.footer {
margin-top: 1em;
}
.footer img {
  float:left;
  margin-right:6px;
}
.footer h5,.footer h6 {
  margin: 0 0 1em 0;
  padding: 0;
  text-transform:uppercase;
  color:#63727e;
  line-height:1.1em;
}
.footer .slide,.footer .about {
  font-size:12px;
  border-top:solid 1px #ddd;
  padding-top: 1em;
  width:220px;
  margin: .5em 20px 0 0;
  float:left;
  height:230px;
}
.footer ul {
  list-style:none;
  margin:0;
}
.footer li {
  padding: .3em 0;
}
.footer li a {
  line-height:1.2em;
}
#super-footer {
  color:#62727e;
  border-top:solid 8px #f8f8f8;
}
#super-footer .about {
  width:220px;
  border-top:none;
  line-height: 1.4;
}
#super-footer .about img {
  margin-bottom:100px;
  margin-right:10px;
  position:relative;
  top:-10px;
}
#super-footer .slide {
  float:left;
  width:220px;
  height:180px;
  border-top:none;
}
#super-footer h6 {
  margin-bottom:10px;
}
#aol-branding {
  position: absolute;
  width:1000px;
  margin-top:40px;
  padding-bottom:10px;
}
#aol-footer-logo {
  float:left;
}
#aol-branding .right {
  float:right;
  color:#717a81;
}
#aol-branding a {
  color:#717a81;
}
#aol-branding ul {
  list-style:none;
  margin:0;
}
#aol-branding li {
  float:left;
  border-right:1px solid #b8bdc1;
}

#aol-branding li a {
font-size: 11px;
}
#aol-branding li.last {
  border-right:none;
}
#aol-branding li>a {
  padding:0 5px;
}
#aol-branding li.last>a {
  padding-right:0;
}
#aol-branding .right p {
font-size: 11px;
  margin-bottom:5px;
}
#breaking p {
  padding:5px 5px 5px 24px;
  margin-bottom:0;
  background-color:#43515c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #596B7A), color-stop(1.00, #43515C));
  background: -moz-linear-gradient(top, #596B7A 0.00%, #43515C 100.00%);
  text-shadow: #313131 -0px -1px 1px;
  color:#ccc;
}
#breaking p a {
  color:white;
  font-weight:bold;
}
#breaking p a.close {
  float:right;
  text-transform:uppercase;
  background:#37424b;
  width:15px;
  height:14px;
  margin-right: 11px;
  padding-top:1px;
  text-align:center;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-box-shadow: 0px 2px rgba(255,255,255,0.2);
  -webkit-box-shadow: 0px 2px rgba(255,255,255,0.2);
  border-radius: 15px;
  border:solid 1px #43515c;
  position:relative;
  font-size:10px;
}
#breaking p a.close:hover {
  text-decoration:none;
}
.quotes { position: relative }
#quicklook blockquote:before { content:"" }
#quicklook blockquote:after { content:"" }
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}


/* Editor Profile */

#editor-profile {
margin-bottom: 2em;
}

#editor-profile h1.name {
color: #333;
font: 28px/1.1 "Myriad Pro", sans-serif;
margin: 0;
padding: 0;
}

#editor-profile p.title {
color: #999;
margin: 0;
padding: 0;
}

#editor-profile .attic {
border-bottom: 8px solid #eee;
margin-top: 1em;
padding-bottom: 10px;
overflow: hidden;
}

#editor-profile .attic .headshot {
float: left;
width: 190px;
height: 240px;
}

#editor-profile .attic .bio {
margin-left: 210px;
}

#editor-profile .attic .bio p {
color: #555;
}

#editor-profile .basement {
margin: 1.3em 0;
position: relative;
}

#main-content #editor-profile .basement h2.lp-hdr {
border-bottom: 1px solid #eee;
color: #555;
font-size: 14px;
font-weight: bold;
margin-bottom: 1em;
padding: 0 0 1em 0;
text-transform: uppercase;
letter-spacing: 0;
}

#editor-profile .basement .subscribe {
background: url(http://www.blogsmithmedia.com/www.joystiq.com/media/writer_rss.gif) 0 no-repeat;
display: block;
position: absolute;
top: 0;
right: 0;
padding-left: 16px;
cursor: pointer;
}

/* Polls */

div.poll,
table.poll {
border: 4px solid #eee;
padding: 10px 7px 12px 10px;
overflow: hidden;
color: #000;
text-align: left;
position: relative;
display: block;
font-family: Helvetica, Arial, sans-serif;
margin: 1em 0;
clear:  both;
}

div.poll table.poll {
padding:0; margin: 0;
border: none;
background: transparent;
}

div.poll form p,
table.poll caption {
display: block;
font: normal 21px/1.1 Helvetica, Arial, sans-serif;
color: #333;
text-align: left;
padding-right: 10px;
padding-bottom: 25px;
}

* html .poll caption {
height: 1%;
}

.post_body .poll caption {
float: left;
}
	
.post_body .poll tbody {
float: right;
}
	
div.poll table th {
font-weight: normal;
}
	
.poll td, .poll th {
font-family: Helvetica, Arial, sans-serif;
text-align:left;
border-collapse: collapse;
padding: 1px 0 2px;
font-weight: normal;
font-size: 13px;
line-height: 20px;
vertical-align: top;
}

.poll th{
color: #555;
font-family: Helvetica, Arial, sans-serif;
width:250px;
display:block;
}

.poll td .poll_result_bar {
background-color: #ddd;
color: #333;
padding: 0 5px;
display: block;
white-space: nowrap;
}

.poll td .poll_result_bar_1,
.poll td .poll_result_bar_6,
.poll td .poll_result_bar_11,
.poll td .poll_result_bar_16 { background-color: #36ABD7 !important; /* blue */} 
.poll td .poll_result_bar_2,
.poll td .poll_result_bar_7,
.poll td .poll_result_bar_12,
.poll td .poll_result_bar_17 { background-color: #F9A51B !important; /* orange */ }
.poll td .poll_result_bar_3,
.poll td .poll_result_bar_8,
.poll td .poll_result_bar_13,
.poll td .poll_result_bar_18 { background-color: #E52A28 !important; /* red */}
.poll td .poll_result_bar_4,
.poll td .poll_result_bar_9,
.poll td .poll_result_bar_14,
.poll td .poll_result_bar_19 { background-color: #E4E528 !important; /* yellow */}
.poll td .poll_result_bar_5,
.poll td .poll_result_bar_10,
.poll td .poll_result_bar_15,
.poll td .poll_result_bar_20 { background-color: #b0ed1c !important; /* green */}

.poll td{
width: ;
border-left: 3px solid #fff;
}
div.poll form label {
font-family: Helvetica, Arial, sans-serif;
color: #555;
display: block;
margin: 0 0 5px;
width:310px;
display:block;
padding-left: 10px;
}
div.poll form label input {
margin-right: 5px;
}

div.poll form button {
margin-top: 1em;
bottom: 10px;
left: 8px;
}

/* About */

#main-content #team-listing h2 {
color: #555;
font-size: 14px;
font-weight: bold;
margin-bottom: 1em;
text-transform: uppercase;
letter-spacing: 0;
}

#team-listing {
border-top: 8px solid #eee;
padding-top: 1em;
}

#team-listing .headshot {
float: left;
width: 180px;
height: 210px;
margin-right: 20px;
}

#team-listing .headshot img {
margin-bottom: .8em;
}

#team-listing .headshot h3, #team-listing .headshot p {
font-weight: normal;
margin: 0;
padding: 0;
}

#team-listing .headshot p {
color: #999;
font-size: 12px;
}

#team-listing .headshot h3 a {
color: #333;
font-size: 17px;
}

/* Related Slidebox  */

#slidebox {
width:400px;
right: -430px;
padding:.5em .7em;
background-color:#fff;
border-top:4px solid #467fab;
position:fixed;
bottom:20px;
-moz-box-shadow:-2px 0px 5px #aaa;
-webkit-box-shadow:-2px 0px 5px #aaa;
box-shadow:-2px 0px 5px #aaa;
-webkit-transition: right 100ms linear;
}
 
#slidebox.open { 
-webkit-transition: right 300ms linear;
right: 0px; 
}
 
#slidebox span.related-hd {
color: #999;
font-size: 0.7em;
font-weight: bold;
text-transform:uppercase;
letter-spacing:1px;
margin: 0;
margin-bottom: 0.5em;
}
 
#slidebox h4 {
font-size: 1.2em;
margin:0 0 .6em 0;
}

#slidebox a.close{
background:transparent url(http://www.blogsmithmedia.com/www.tuaw.com/media/close.gif) no-repeat top left;
cursor: pointer;
width:13px;
height:13px;
position:absolute;
top:10px;
right:10px;
}

#slidebox a.close:hover {
background-position:0px -13px;
}

#slidebox a.f-button {
}

#slidebox p.desc {
margin: 0;
padding-bottom: .5em;
}

/* Hubs */

#f-header {
background: #3b88d8; /* old browsers */
background: -moz-linear-gradient(top, #3b88d8 0%, #3679be 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b88d8), color-stop(100%,#3b88d8)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b88d8', endColorstr='#3679be',GradientType=0 ); /* ie */
border-bottom: 2px solid #eee;
-moz-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.1);
-webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.1);
color: #fff;
overflow: hidden;
}

#f-header * {
margin: 0;
padding: 0;
}

#f-header .header {
width: 550px;
float: left;
margin: 1em 0 1em 1.5em;
}

#f-header h1 {
color: #fff;
font: normal 48px/1.1 "Myriad Pro";
text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
letter-spacing: -1px;
}

#f-header h2 {
color: rgba(255,255,255,0.7);
font-size: 16px;
font-weight: normal;
}

#f-header .body {
border: 1px solid #4995e4;
border: 1px solid rgba(255,255,255,0.2);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #fff;
color: rgba(255,255,255,0.7);
float: right;
margin-right: 1.5em;
width: 283px;
margin-top: 2em;
padding: .5em .7em;
}

#f-header .body p {
font-size: 1em;
}

#top-promo {
margin: 2em 0 1em 0;
}

#top-promo .header {
border-bottom: 1px solid #c8d9e5;
margin: 0 0 .5em 0;
padding: 0 0 .5em 0;
}
          
#top-promo h2 {
color: #273b4a;
float: left;
font: 21px/1.1 "Myriad Pro", sans-serif;
margin: 0;
padding: 0;
}

          #top-promo .header .all {
			background: #fff;
			border: 1px solid #ddd;
			color: #999;
			float: right;
			font-size: 9px;
			font-weight: bold;
			text-transform: uppercase;
			margin: .5em 0em 0 1em;
			padding: .5em .6em .3em .6em;
			border-radius: 5px;
          }
          
          #top-promo .header .all:hover {
          	border: 1px solid #ccc;
			color: #666;
			cursor: pointer;
			text-decoration: none;
          }
          
          #top-promo h3 {
          margin-top: .5em;
          font: 16px/1.1 "Myriad Pro", sans-serif;
          }
          
          #top-promo p {
          color: #909090;
          margin: 0 0 1em 0;
          }
          
#top-promo .pod {
float: left;
margin-right: 11px;
width: 205px;
position: relative;
}

#top-promo .pod img {
border: 2px solid #c8d9e5;
}
      
          
#top-promo .last {
margin: 0;
padding: 0;
}

/* #Buttons
================================================== */
	
	a.button, 
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee; /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  padding: 4px 12px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: 21px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
	  
	a.button:hover, 
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #eee; /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }
	  
  a.button:active, 
  button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.3)), color-stop(100%,rgba(255,255,255,.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* W3C */
    border: 1px solid #888;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa; }
	
	.button.full-width, 
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width { 
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

/* AOL comments fix */

#aol-comments {
clear: both;
}

#aol-comments p {
color: #555;
font-size: 13px;
}

/* PR Hider styles */

#pr_box { margin: 20px auto 0; }
#pr_box_button { overflow: hidden; text-indent: -9000px; background: url(http://www.blogsmithmedia.com/www.engadget.com/media/show_full_pr_button.jpg); no-repeat top left; width: 200px; height: 40px; margin: 0 auto; cursor: pointer; }
#pr_box_button:hover { background-position: 0 -39px; }
#pr_text { margin: 20px 30px 0; color: #666; display: none; font-style: italic; }


/* apptap rating */

.apptap-rating {
    width: 75px;
    height: 16px;
    padding: 1px 3px 1px 3px;
    opacity: 0.4;
    background-color: black; 
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -o-border-radius: .3em;
    margin: 1.2em .9em;
}

.apptap-rating-background {
    position: static;
    width: 75px;
}

.apptap-rating-foreground {
    height: 15px;
    overflow: hidden;
    background: url("http://www.blogsmithmedia.com/www.tuaw.com/media/star-shade-15.png") repeat-x;
}

.isotope-item {
z-index: 2;
}
.isotope-hidden.isotope-item {
pointer-events: none;
z-index: 1;
}

/* Quick Look */
#articleoverlay {
	background:rgba(255,255,255,.5) url(http://www.blogsmithmedia.com/www.tuaw.com/media/qlloader.gif) no-repeat 50% 50%;
	position:fixed;
	left:0;
	bottom:0;
	right:0;
	top:0;
        z-index:9999999;
}
.expander {
background: #fff url(http://www.blogsmithmedia.com/www.tuaw.com/media/q-look-icon.png) 0.6em 0.6em no-repeat;
border: 1px solid #ddd;
color:#888;
font-size: 8.5px;
font-weight: bold;
text-transform: uppercase;
padding: .6em .8em .6em 2.4em;
border-radius: 5px;
line-height: 1;
position: absolute;
top: 7px;
right: 1em;
margin-top: 1.2em;
opacity: 0.8;
}

.thumb-view .expander {
top:0;
margin-top:0;
}

.expander:hover {
background: #f9f9f9 url(http://www.blogsmithmedia.com/www.tuaw.com/media/q-look-icon.png) 0.6em 0.6em no-repeat;
border: 1px solid #ddd;
color: #777;
cursor: pointer;
text-decoration: none;
opacity: 1;
}

#quicklook {
background: #ddd url(http://www.blogsmithmedia.com/www.tuaw.com/media/icon-x.png) no-repeat 5px 5px;
border: 1px solid #bbb;
position: fixed;
top: 20px;
left: 50%;
margin-left: -320px;
width: 640px;
height: 80%;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
padding: 25px 0 55px 0;
-webkit-box-shadow: 2px 4px 12px rgba(0,0,0,.4) ;
-moz-box-shadow: 2px 4px 12px rgba(0,0,0,.4) ;
box-shadow: -2px 2px 12px rgba(0,0,0,.4) ;
}

.expanded {
border: 1px solid #bbb;
border-left: none;
border-right: none;
overflow: auto;
background: white;
margin: 0;
padding: 20px;
height: 95%;
float: left;
}

#qlfullstory {
  display:block;
  width:29px;
  height:27px;
  text-indent:-999999px;
  background:transparent url(http://www.blogsmithmedia.com/www.tuaw.com/media/icon-expand.png) no-repeat left top;
  position:absolute;
  bottom:10px;
  left:50%;
  margin-left:-14px;
}
/*.expanded::-webkit-scrollbar {
    width: 8px;
}

.expanded::-webkit-scrollbar:horizontal {
    display: none;
}
        
.expanded::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 21px 0;
    margin-left: -50px;
}

.expanded::-webkit-scrollbar-track:disabled {
    display: none;
}

.expanded::-webkit-scrollbar-thumb {
    border-width: 19px 0;
    min-height: 40px;
    opacity: 0.6;
    background:#666;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}*/


.expanded p {
color: #555;
font-size: 14px;
line-height: 1.5;
float:none !important;
}
.expanded img {
max-width:100%;
height:auto;
}

/* video holder for 5min */
.videoholder {
float: left;
width: 100%;
clear: both;
margin: 10px 25px;
}

#ces-seal {
background: url(http://www.blogsmithmedia.com/www.tuaw.com/media/ipv6-badge.png) top left no-repeat;
display: block;
width: 100px;
height: 169px;
position: absolute;
top: -10px;
right: 40px;
z-index: 8888;
}

#ces-seal span { display: block; text-indent: -9999px; }

.roundup h4 {
	font-size: 14px
}
.roundup li {
	list-style: none;
}
.roundup .col {
	width: 50%;
	float: left;
}
.roundup .pod {
	margin: 0 2px 10px 2px;
}
.roundup img {
	float: left;
	margin-right: 4px;
}
.roundup .other-reviews {
	margin: 0;
}

#livefyre { /* hack to keep comments from overlapping blockquotes */
float: left!important;
margin-top: 45px!important;
width:100%!important;
}
